<div id="schedule">
  <!-- <tr> -->
  <!--   <th class="week">Week</th> -->
  <!--   <th>Tuesday</th> -->
  <!--   <th>Thursday</th> -->
  <!-- </tr> -->
  {% for week in weeks %}
  <!-- <tr> -->
  <!-- <td class="week">{{ week['week'] }}</td> -->
  <div class="week">
    {% for day in week['days'] %}
    <div class="day">
      <h2>{{ day['parsed_date'].strftime("%-m/%-d") }} - {{ day['title'] }}</h2>
      {% if day['speakers'] %}
      <p class="speakers">
        <strong>Speaker:</strong> {{ day['speakers'] }}
        {% if day['slides'] %}
        [<a href="{{ day['slides'] }}">Slides</a>]
        {% endif %}
      </p>
      {% endif %}
      <div class="papers">
        <ul>
          {% if day['papers']|length == 0 %}
          <li>No readings</li>
          {% elif day['papers'] is string %}
          <li> {{ day['papers'] }} </li>
          {% else %}
          {% for paper in day['papers'] %}
          <li>
            <a href="{{paper['url']}}" class="title">{{paper['title']}}</a>
            {% if paper['optional'] %} <span class="optional">(Optional)</span> {% endif %}
            <p class="authors">{{ paper['authors'] }}</p>
            {% endfor %}
          </li>
          {% endif %}
        </ul>
      </div>

      {% if day['due']|length > 0 %}
      <div class="due">
        <h3>Deadlines</h3>
        <ul>
          {% for due in day['due'] %}
          <li>{{ due }}</li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}
    </div>
    {% endfor %}
  </div>
  <!-- </tr> -->
  {% endfor %}
</div>
<div style="clear:both"></div>
